[Unit]
Description=CNCJS server
After=network-online.target
[Service]
ExecStart=/usr/bin/node /home/pi/cncjs/bin/cnc -p 8080
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CNCJS
User=pi
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
